<?xml version="1.0" encoding="utf-8"?>
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>x64</Platform>
    <PublishDir>..\..\publish\linux-x64\AvaloniaLogDemo</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <_TargetId>Folder</_TargetId>
    <TargetFramework>net11.0</TargetFramework>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>true</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
    <IsTrimmable>true</IsTrimmable>
    <PublishTrimmed>true</PublishTrimmed>
    <TrimMode>partial</TrimMode>
    <TrimIncludeTestAssemblies>false</TrimIncludeTestAssemblies>
    <DebugType>none</DebugType>
    <DebugSymbols>false</DebugSymbols>
    <EnableCompiledBindings>true</EnableCompiledBindings>
  </PropertyGroup>
</Project>
